body.dark .folderItem,
body.dark .fileItem {
	background-color: #181818;
	border-color: #aaa;
	color: #eee;
}

body.dark .folderHeader {
	background-color: #202020;
	border-color: #666;
}

body.dark .down-overlay {
	background-color: rgba(255, 255, 255, 0.08);
}

body.dark .down-overlay-text {
	color: #fff;
}


body.dark .fileItem::before,
body.dark .childElement::before,
body.dark .lastItem:after,
body.dark .folderHeader.lastItem::after {
	border-color: #aaa;
	background-color: #aaa;
}

body.dark #exclusive,
body.dark #exclusive div,
body.dark #exclusive span{
	background-color: #050505;
}